<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SHShared2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Shared2_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>732A062A1387D5D50084F8FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>732A063F1387D5D50084F8FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73CFF73213ABF0EC00FA0498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73CFF73D13ABF0EC00FA0498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
