<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSFilenamesPboardType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>TemplateApplicationLicense</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TemplateApplicationLicense.icns</string>
			<key>CFBundleTypeName</key>
			<string>Blocks License</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>uk.co.Hooley.templateapplication.licenseDocumentType</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>BKLicenseDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>plugin</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Blocks Plugin</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>uk.co.Hooley.plugins.pluginDocumentType</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>BKPluginDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>TemplateApplication</string>
	<key>CFBundleIconFile</key>
	<string>TemplateApplication</string>
	<key>CFBundleIdentifier</key>
	<string>uk.co.Hooley.TemplateApplication</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0 Beta</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Blocks License</string>
			<key>UTTypeIconName</key>
			<string>TemplateApplicationLicense.icns</string>
			<key>UTTypeIdentifier</key>
			<string>uk.co.Hooley.templateapplication.licenseDocumentType</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.hogbaysoftware.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>TemplateApplicationLicense</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.bundle</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Blocks Plugin</string>
			<key>UTTypeIdentifier</key>
			<string>uk.co.Hooley.plugins.pluginDocumentType</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.hogbaysoftware.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>plugin</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
