<?xml version="1.0" encoding="UTF-8"?>

<plugin
	id="uk.co.stevehooley.BKConfiguration"
	name="Configuration"
	version="1.0.0"
	provider-name="Hog Bay Software">

	<requirements>
		<requirement bundle="uk.co.stevehooley.BKBlocks"/>
		<requirement bundle="uk.co.stevehooley.BKFoundation"/>
		<requirement bundle="uk.co.stevehooley.BKApplication"/>
		<requirement bundle="uk.co.stevehooley.BKLifecycle"/>
		<requirement bundle="uk.co.stevehooley.BKUserInterface"/>
	</requirements>

	<extension point="uk.co.stevehooley.BKLifecycle.lifecycle" class="BKConfigurationLifecycleExtension"/> 
	<extension point="uk.co.stevehooley.BKUserInterface.mainmenu" class="BKConfigurationMenuExtensions"/>
</plugin>