<?xml version="1.0" encoding="UTF-8"?>

<plugin
	id="uk.co.Hooley.templatedocumentbasedapplication.TADocument"
	name="TemplateDocumentBasedApplication Document"
	version="1.0.0"
	provider-name="Hog Bay Software">

	<requirements>
		<requirement bundle="uk.co.Hooley.blocks"/>
		<requirement bundle="uk.co.Hooley.documents"/>
	</requirements>
	
	<extension point="uk.co.Hooley.documents.documentType" class="TADocumentTypeExtension"/>
</plugin>