<?xml version="1.0" encoding="UTF-8"?>

<plugin
	id="uk.co.stevehooley.examples.UserInterfacePluginExample"
	name="User Interface Plugin Example"
	version="1.0.0"
	provider-name="Hog Bay Software">

	<requirements>
		<requirement bundle="uk.co.stevehooley.blocks"/>
		<requirement bundle="uk.co.stevehooley.ui"/>
	</requirements>

	<extension point="uk.co.stevehooley.ui.mainmenu" class="UIPEMenuExtension"/>
</plugin>