#include "Project-Base.xcconfig"

ARCHS = ppc i386
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
DEPLOYMENT_POSTPROCESSING = YES
COPY_PHASE_STRIP = NO
SEPARATE_STRIP = YES
GCC_MODEL_TUNING = G5
GCC_PREPROCESSOR_DEFINITIONS = NS_BLOCK_ASSERTIONS=1 NDEBUG=1 _ROOT_OBJECT_=NSObject
ONLY_ACTIVE_ARCH = NO
GCC_FAST_OBJC_DISPATCH = YES