// We want to look in the /Code directory for AVCVideoServices.framework etc, and the Developer library for SenTestingKit
FRAMEWORK_SEARCH_PATHS = $(inherited) /Developer/Library/Frameworks $(CONFIGURATION_BUILD_DIR)

DEBUG_INFORMATION_FORMAT = dwarf
PREBINDING = NO
ZERO_LINK = NO
GCC_FAST_OBJC_DISPATCH = NO
GCC_ENABLE_OBJC_GC = unsupported
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
VERSIONING_SYSTEM = apple-generic
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES

OBJROOT = $(SYMROOT)/$(CONFIGURATION)
SHARED_PRECOMPS_DIR = $(OBJROOT)/PrecompiledHeaders
CONFIGURATION_TEMP_DIR = $(OBJROOT)
CONFIGURATION_BUILD_DIR = $(OBJROOT)

GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_PARAMETER = NO
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_SIGN_COMPARE = YES

GTM_CONFIGURATION_WARNING_CFLAGS = -Wno-unused-variable -Winit-self -Wno-extra
GTM_EXTRA_WARNING_OVERRIDE_CFLAGS = -Wno-unused-parameter
GTM_GENERAL_OTHER_CFLAGS = -Wbad-function-cast  -Wnested-externs -Wold-style-definition -fstack-protector-all
GTM_GENERAL_OTHER_CPLUSPLUSFLAGS = -Wabi -Wctor-dtor-privacy -Wstrict-null-sentinel -Wsign-promo
GTM_GENERAL_WARNING_CFLAGS = $(GTM_GENERAL_WARNING_CFLAGS1) $(GTM_GENERAL_WARNING_CFLAGS2) $(GTM_GENERAL_WARNING_CFLAGS3)
GTM_GENERAL_WARNING_CFLAGS1 = -Wall -Wendif-labels -Wformat=2 -Wmissing-format-attribute -Wwrite-strings -Wstrict-aliasing=2
GTM_GENERAL_WARNING_CFLAGS2 = -Wpacked -Wmissing-field-initializers
GTM_GENERAL_WARNING_CFLAGS3 = -Wextra $(GTM_EXTRA_WARNING_OVERRIDE_CFLAGS) -Wpointer-arith -Wdisabled-optimization 
OTHER_CFLAGS = $(inherited) $(GTM_GENERAL_OTHER_CFLAGS) $(GTM_PLATFORM_OTHER_CFLAGS) $(GTM_CONFIGURATION_OTHER_CFLAGS)
OTHER_CPLUSPLUSFLAGS = $(GTM_GENERAL_OTHER_CPLUSPLUSFLAGS) $(GTM_PLATFORM_OTHER_CPLUSPLUSFLAGS) $(GTM_CONFIGURATION_OTHER_CPLUSPLUSFLAGS)
HOOLEY_WARNING_FLAGS = -Wno-parentheses -Wshorten-64-to-32

UNKNOWN_IN_CLANG = -Winvalid-pch  -Wdiv-by-zero

WARNING_CFLAGS = $(inherited) $(GTM_GENERAL_WARNING_CFLAGS) $(GTM_PLATFORM_WARNING_CFLAGS) $(GTM_CONFIGURATION_WARNING_CFLAGS) $(HOOLEY_WARNING_FLAGS)

WARNING_CFLAGS[sdk=macosx10.5][arch=ppc] = $(inherited) $(GTM_GENERAL_WARNING_CFLAGS) $(GTM_PLATFORM_WARNING_CFLAGS) $(GTM_CONFIGURATION_WARNING_CFLAGS) $(HOOLEY_WARNING_FLAGS) $(UNKNOWN_IN_CLANG)

SDKROOT = macosx10.6
SDKROOT[arch=i386] = macosx10.6
SDKROOT[arch=x86_64] = macosx10.6

MACOSX_DEPLOYMENT_TARGET = 10.6
MACOSX_DEPLOYMENT_TARGET[sdk=macosx10.5][arch=ppc] = 10.6
MACOSX_DEPLOYMENT_TARGET[sdk=macosx10.6][arch=i386] = 10.6
MACOSX_DEPLOYMENT_TARGET[sdk=macosx10.6][arch=x86_64] = 10.6

//ARCHS = $(NATIVE_ARCH)
//ARCHS[sdk=iphonesimulator*] = i386
//ARCHS[sdk=macosx10.5*] = i386 ppc
//ARCHS[sdk=macosx10.4*] = i386 ppc
//ARCHS[sdk=macosx10.6*] = i386 x86_64 ppc
//ARCHS[sdk=iphoneos*] = armv6


ARCHS = $(ARCHS_STANDARD_64_BIT)
//ARCHS = $(ARCHS_STANDARD_32_BIT)
ARCHS[sdk=macosx10.5][arch=ppc] = $(NATIVE_ARCH)

GCC_ENABLE_SYMBOL_SEPARATION = NO
