#include "Project-Debug.xcconfig"

OTHER_LDFLAGS = -lgcov
GCC_GENERATE_TEST_COVERAGE_FILES = YES
GCC_INSTRUMENT_PROGRAM_FLOW_ARCS = YES
GENERATE_PROFILING_CODE = YES
GCC_DEBUGGING_SYMBOLS = full
ONLY_ACTIVE_ARCH = YES

GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_OPTIMIZATION_LEVEL = 0
GCC_FAST_OBJC_DISPATCH = NO

GCC_VERSION = 4.2