//
//  AudioBooTarget.xcconfig
//  AudioBoo
//
//  Created by Jonathan del Strother on 17/12/2008.
//  Copyright 2008 Best Before Media Ltd. All rights reserved.
//

#include "Target-Base.xcconfig"
ARCHS = $(ARCHS_STANDARD_32_BIT)
SDKROOT = iphoneos4.0
VALID_ARCHS = armv6 armv7

CODE_SIGN_IDENTITY = iPhone Developer
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer

HEADER_SEARCH_PATHS = $(inherited) $(BUILT_PRODUCTS_DIR)/usr/local/include
LIBRARY_SEARCH_PATHS = $(inherited) "$(SRCROOT)/lib"


GCC_VERSION = 4.2
GCC_VERSION[sdk=iphoneos*] = 4.2

IPHONEOS_DEPLOYMENT_TARGET = 3.2
TARGETED_DEVICE_FAMILY = 1

// Turn of accelerated dispatch on ppc, otherwise the debugger goes very flakey
GCC_FAST_OBJC_DISPATCH[arch=ppc] = NO

GCC_PREFIX_HEADER = pch/$(PRODUCT_NAME)_Prefix.pch

// load objc classes from static libraries on load
OTHER_LDFLAGS = $(inherited) -ObjC