<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blake App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>BlakeAppTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>BlakeMain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>BlakeMainTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>BlakeMainTests_inApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>DumbSketch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>JavascriptConsole.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NodeListView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>NodeListViewTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>ObjectPalette.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>ObjectPaletteTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>Run All Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Sketch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>TreeView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>VisualGraphView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>730716520E017E1C002D3F81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>730A55A20E0685FF009458BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>732048EF10D00D3B00242B59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7364E34F10F74363002B5E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7373026D0E02961400EBA987</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>738294F50EE6F9DB005DB289</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>738B30B30DD5BDE200FBF58C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>739620590DF0724700D5DB6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73B240030EA4974900CE3C8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73B5295E0E07D8E200DA884B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73C6FA9E0EDDA10B0067482D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73DA59FB0EDB208500D4F5F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73E3F2280A7ED04B00DC321C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73ECA46610D1147000BC8785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73ECA48510D114A000BC8785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
