<?xml version="1.0" encoding="UTF-8"?>

<plugin
	id="uk.co.Hooley.mori.MIFolderSupport"
	name="Mori Folder Support"
	version="1.0.0"
	provider-name="Hog Bay Software">

	<requirements>
		<requirement bundle="uk.co.Hooley.mori.MIDocument"/>
	</requirements>

	<extension point="uk.co.Hooley.mori.MIDocument.entryImport" class="MIFolderImport"/>
	<extension point="uk.co.Hooley.mori.MIDocument.entryExport" class="MIFolderExport"/>
</plugin>